{% trans_default_domain 'HitcKitAdminBundle' %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes">
        <title>{% block title %}{{ 'control_panel'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
            {{ encore_entry_link_tags('app', null, 'admin') }}
        {% endblock %}
    </head>
    {% set body_class = body_class ?? null  %}
    <body{% if body_class is not empty %} class="{{ body_class }}"{% endif %}>
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app', null, 'admin') }}
        {% endblock %}
    </body>
</html>
