<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fas fa-id-card"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        {% block items %}
            <span class="dropdown-item text-info bg-transparent"><i class="fas fa-user mr-2" style="width: 1rem;"></i> {{ app.user.username }}</span>
        {% endblock %}
    </div>
</li>
